title= title
link(href='app.css', media='all', rel='stylesheet', type='text/css')
script(src='/jquery.min.js')
script(src='/underscore-min.js')
script(src='/backbone.js')
script(src='/dnode.js')
script(src='/dnode.backbone.js')
script(src='/application.js')
script(src='/markdown.converter.js')
script(type='text/javascript')