label(for='username') Username:
input(type='text', id='username', name='username', value=user.username)
lable(for='password') Password:
input(type='password', id='password', name='password', value=user.password)


