h1 Create Account
form(action='/users', method='POST')!= partial('../partials/user_form', {locals: {user: user}})
  input(type='submit', value='Register')
  span \ or
    a(href='/sessions/new') Sign In
