!!! 5
html
  head
    title Backbone Demo: Messages
    link(href='messages.css', media='all', rel='stylesheet', type='text/css')
    script(src='/jquery.min.js')
    script(src='/underscore-min.js')
    script(src='/backbone.js')
    script(src='/dnode.js')
    script(src='/dnode.backbone.js')
    script(src='/messages.js')
  body
    //
       Message App Interface 
    #messageapp
      .title
        h1 Messages
      .content
        #create-message
          input#new-message(placeholder='What on your mind?', type='text')
          span.ui-tooltip-top(style='display: none;') Press Enter to save this task
        #messages
          ul#message-list
        #message-stats
    ul#instructions
      li Double-click to edit a message.
    //
       Templates 
    script#item-template(type='text/template')
      <div class="message <%= done ? 'done' : '' %>">
      <div class="display">
      <input class="check" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
      <div class="message-content"></div>
      <span class="message-destroy"></span>
      </div>
      <div class="edit">
      <input class="message-input" type="text" value="" />
      </div>
      </div>
    script#stats-template(type='text/template')
      <% if (total) { %>
      <span class="message-count">
      <span class="number"><%= remaining %></span>
      <span class="word"><%= remaining == 1 ? 'item' : 'items' %></span> left.
      </span>
      <% } %>
      <% if (done) { %>
      <span class="message-clear">
      <a href="#">
      Clear <span class="number-done"><%= done %></span>
      completed <span class="word-done"><%= done == 1 ? 'item' : 'items' %></span>
      </a>
      </span>
      <% } %>

