!!! 5
html
  head
    title Backbone Demo: Messages
    link(href='app.css', media='all', rel='stylesheet', type='text/css')
    script(src='/jquery.min.js')
    script(src='/underscore-min.js')
    script(src='/backbone.js')
    script(src='/dnode.js')
    script(src='/dnode.backbone.js')
    script(src='/application.js')
  body
    #header
      h1 Toronto

    //
       Message App Interface 
    #messageapp
      .content
        #create-message
          input#new-message(placeholder='What on your mind?', type='text')
          span.ui-tooltip-top(style='display: none;') Press Enter to save this task
      #messages
        ul#message-list
      #message-stats
    ul#instructions
      li Double-click to edit a message.
    //
       Templates 
    script#item-template(type='text/template')
      <div class="message <%= done ? 'done' : '' %>">
      <div class="display">
      <div class="message-content"></div>
      <span class="message-destroy"></span>
      </div>
      <div class="edit">
      <input class="message-input" type="text" value="" />
      </div>
      </div>
